<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Songs Homepage - Welcome to My Music Store</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Music Store</h1>
</header>
<main>
    <h2>Choose a song:</h2>
    <form method="get" action="/songs">
        <span>Select an album: </span>
        <select id="albumId" name="albumId" onchange="this.form.submit()">
            <option value="">None</option>
            <option th:each="album: ${albums}"
                    th:value="${album.id}"
                    th:text="${album.name}"
                    th:selected="${album.id == albumId}">
            </option>
        </select>
    </form>
    <!--    <form method="get" action="/songs">-->
    <!--        <input type="text" name="filter">-->
    <!--        <input type='submit' value='Submit'>-->
    <!--    </form>-->
    <form method="post" action="/songs">
        <ul type="none">
            <li th:each="song: ${songs}">
                <input type="radio" name="trackId" th:value="${song.trackId}">
                <a th:href="@{'/songDetails?trackId=' + ${song.trackId}}">
                    <span th:text="'Title: ' + ${song.title} + ', Genre: ' + ${song.genre} + ', Release Year: ' + ${song.releaseYear} + ', Album: ' + ${song.getAlbum().name}"></span>
                </a>
            </li>
        </ul>
        <input sec:authorize="hasRole('ADMIN')" type='submit' value='Submit'>
    </form>
    <br>
    <div sec:authorize="hasRole('ADMIN')">
        <h2>Choose a song to edit or delete:</h2>
        <div th:each="song: ${songs}">

            <form th:action="@{/songs/edit/{songId}(songId=${song.id})}" method="get" style="display:inline;">
                <label th:text="'Title: ' + ${song.title} + ', Genre: ' + ${song.genre} + ', Release Year: ' + ${song.releaseYear} + ', Album: ' + ${song.getAlbum().name}"></label>
                <button sec:authorize="hasRole('ADMIN')" type="submit">Edit</button>
            </form>

            <form th:action="@{/songs/delete/{songId}(songId=${song.id})}" method="post" style="display:inline;">
                <button sec:authorize="hasRole('ADMIN')" type="submit"
                        onclick="return confirm('Are you sure you want to delete this song?');">Delete
                </button>
            </form>
        </div>
        <br>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/songs/add}">Add Song</a>
    </div>
</main>
</body>
</html>