<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Add new Performer to Song</title>
  <style type = "text/css">
    body {
      width: 800px;
      margin: auto;
    }
    table {
      width:100%;
    }
    table, td, th {
      border: 1px solid black;
      padding:3px 2px;
    }
    section {
      float: left;
      margin: 0 1.5%;
      width: 63%;
    }
    aside {
      float: right;
      margin: 0 1.5%;
      width: 30%;
    }
  </style>
</head>
<body>
<header>
  <h1>Select the Artist to add to the List of Performers </h1>
</header>
<section>
  <h2>Select artist:</h2>
  <form method="post" action="/artist">
    <input type="hidden" name="trackId" th:value="${trackId}">
    <ul type="none">
      <li th:each="artist: ${artists}">
        <input type="radio" name="artistId" th:value="${artist.id}">
        <span th:text="${artist.firstName} + ' ' + ${artist.lastName}"></span>
      </li>
    </ul>
    <input type='submit' value='Add artist'>
  </form>
  <!-- Make changes to this code to dynamically display radio buttons for each artist as in the example -->
<!--  <input type="radio" name="artistId" value="1"> Axl Rose <br/>-->
<!--  <input type="radio" name="artistId" value="2"> Jon Bon Jovi <br/>-->
<!--  <input type="radio" name="artistId" value="3"> David Bowie <br/>-->
<!--  <br/>-->

</section>
<aside>
  <table>
    <tr>
      <!-- change to show selected trackId -->
      <td><b>Track Id</b></td>
      <td th:text="${trackId}"></td>
    </tr>
  </table>
</aside>
</body>
</html>